/* Background colour */
body {
  background-image: url(./images/lubomirkin-j_BHh6vNOv8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* minion image */
img {
  margin:0rem 1rem 0rem 1rem;
  animation-name: minion;
  animation-duration:5s;
  animation-iteration-count: infinite;
}

@keyframes minion {
  0%{
    transform: scale(0.5);
    animation-timing-function: ease;
  }
  100%{
    transform: scale(1.5);
    animation-timing-function: ease;
  }
  
}

main{
  text-align: center;
}


/* Heading */
h1 {
  color: purple;
  text-align: center;
  font-size: 50px;
  font-family: cursive;
  font-weight: bold;
}

/* Para */
p {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  color: saddlebrown;
}

/* Textarea */
textarea {
  background-color: khaki;
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 1rem;
  border: 2px solid orange;
  margin-bottom: 15px;
}

/* Button */
button {
  background-color: orangered;
  font-weight: bolder;
  border-radius: 1rem;
  margin: 5px;

}

/* Output */
#output {
  border: 2px solid orange;
  background-color: khaki;
  border-radius: 1rem;
  text-align: center;
  height: auto;
  width: 50%;  
  margin: auto;
  font-weight: 900;
  font-size: 30px;
  padding: 2rem;
}


